[2018-02-03 14:07] odungern opened #1 "SpecIF and Polymorphism"
Currently a 'resource' has an attribute ‚resourceType‘ and a 'statement' has an attribute ‚statementType‘; similarly 'hierarchy' and 'property'. The idea was to express with the attribute-name what it is. While this makes the data easier to read and to understand (who actually wants to do that ;-), it is more difficult to process.
Thus another approach: Anyways, the context defines what a valid va

[2018-02-07 19:14] oalt commented on #1
I think both solutions are possible. For the handling of the SpecIF data objects it makes it easier, but you have then a superset of properties in the type class. For example you need to have the subject and object types to support the statements, but these properties are not necessary for Hierarchies and Resources.
An example where a similar solution is used is the data model for Enterprise Archi

[2018-02-10 14:53] odungern opened #2 "schema for dataTypes with specific cases"
Implement the schema for dataTypes with specific cases for each of the data-types with the respective properties using a "oneOf" structure.

[2018-02-10 15:01] odungern commented on #1
_I am not sure whether we discuss the same thing. Today, we say:_
"resources": [{
&nbsp;&nbsp;&nbsp;"id": "Fld-5b6a99f10000bca80137b78cda65fc07",
&nbsp;&nbsp;&nbsp;"title": "Dimming",
&nbsp;&nbsp;&nbsp;"**resourceType**": "OT-Fld",
&nbsp;&nbsp;&nbsp;"properties": [{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"title": "dcterms:title",
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"**propertyType**": "AT-Fld-Name",

[2018-02-10 19:57] odungern commented on #2
solved in master branch (SpecIF v0.11.x) with b2e6da863e98aedd1182be0561c5795650912f4b and in
branch 'SpecIF-Level-1' (SpecIF v0.10.x) with 8b3bcce376334f203fea9862cb2ae2d60c6bcc02.

[2018-02-10 19:58] #2 closed, assigned to nobody

[2018-02-11 14:55] odungern opened #3 "Rules for items with multiple revisions"
In branch 'master' for v0.11.x and later, an item may have multiple revisions.

For items, the following rules apply:
- If there are items with the same id, they all must specify a revision.
- All revisions of the same item must be different (the key consisting of id and revision must be unique).
- All revisions of any item must be >0.

For references  (such as 'subject' or 'object' in statements)

[2018-03-06 17:21] WolfgangFahl commented on #1
Inheritance / Polymophism seems to be the issue here. The attribute that makes the difference is called the discriminator. E.g. if you have man and woman the discriminator is the gender. So you could model a base type human/person with the attribute "gender" and you'd all be set. The modelling of derived classes specializations only make sense if there is a difference in structure and or behavior.

[2018-03-07 08:30] odungern commented on #1
This is indeed a in-depth discussion. The original post  is just about a property name to be used in different contexts. In all cases it labels a property value pointing to the type of the respective instance. In my eyes there is no value in defining some sort of inheritance for that issue/concept ...
In essence, there is a choice between readability of the SpecIF data structure and code efficienc

[2018-05-10 11:51] odungern commented on #1
With SpecIF 0.10.4 the polymorphic approach has been adopted, see my last post. The context defines unambiguously whether a resourceClass, statementClass, hierarchyClass or propertyClass is referenced.

[2018-05-10 11:51] #1 closed, assigned to nobody

[2019-02-14 08:51] oalt opened #4 "Hierarchical structure for hierarchies"
## Issue
When SpecIf is used as data format in a backend database, you will have many hierarchy objects containing requirement documents, BOMs etc.
Currently the hierarchy objects are just an array of hierarchies. Normally engineering data is organized and assigned to projects or specific systems. So it would be helpful, when you have a possibility to organize hierarchies in a tree structure with

[2019-02-14 09:01] oalt opened #5 "Use flat data storage in SpecIF"
## Issue
In SpecIF some data elements are stored as flat lists on the top level (dataTypes, resourceClasses, statementClasses, hierarchyClasses), but the property classes and node elements from the hierarchies are no flat structures. They are inside the JSON as tree structures.
## Proposal
Provide all data elements as flat structures and use references - similar to the _resourceReference_ in an no

[2019-02-14 17:38] odungern commented on #5
- Pulling the property classes into an own list has an additional advantage of potential reuse by all resource classes, statement classes and hierarchy classes. As you point out, queries are easier to implement, indeed.
- Nodes can be in a flat list, as well. Each node would have to specify the parent to create a hierarchy. Displaying takes a little more effort, but searching is easier, as well.

[2019-02-14 23:44] odungern commented on #5
.. driving the idea even further, we could combine all lists and distinguish the elements by a property 'category', e.g.
`{   "id": "xyz123",
    "version": "0.10.6",
    "data": [{
        "id": "DT-String",
        "category": "dataType",
        "title": "String [512]",
        "description": "String with length 512",
        "type": "xs:string",
        "maxLength": 512,
        "revision": 1,

[2019-02-15 06:56] odungern commented on #5
Having thought a little, I propose the following:
- We create a new list at the top level called "propertyClasses". All resourceClasses, statementClasses and hierarchyClasses may reference the elements in that list to specify their respective properties. This way, propertyClasses can be reused or not. The new approach would replace the current approach, where propertyClasses are defined privately

[2019-02-16 11:45] odungern commented on #4
@oalt : thanks for your thoughts!
There are some associated questions with this issue. Let me start the discussion with some ideas crossing my mind:
1. We had a similar thought when implementing the "Interactive Spec": We did not want to list multiple projects (=SpecIF files) in a flat list, but to organize them in a hierarchy. Towards this end, we added a UNIX-style path to the project title, suc

[2019-02-18 14:40] oalt commented on #4
I think it is not necessary to have all data in one SpecIF file. You can have multiple files and the superset is the complete specification.
Because of every element in SpecIF has a unique ID, you can use these IDs to reference the elemnt you want. So you can have a set of SpecIF files containing the data (e.g. a set of hierarchies) and another SpecIF file for example referencing these hierarchies

[2019-02-18 14:51] oalt commented on #5
@odungern : Oskar, I aggree with your proposal to the properyClasses. And you are right with flatten the node lists using a transformation. I have done exacly this in my implementation of SpecIF using a MongoDB backend (will be published on GitHub soon). I have a list of nodes on the top level containing node elements and instead of having sub-elements of type node there is just a node reference u

[2019-02-18 19:23] odungern commented on #5
@oalt : ... in principle I agree with your last argument, that for a data structure the ease of processing is more important than readability by humans. However in this case I am tending to believe:
- Having some degree of human-readability simplifies fault diagnosis, if it comes down to the fundamentals.
- Also one might quickly create a test-case without recourse to any specific editor.
- Anyway

[2019-02-19 22:03] odungern commented on #5
@oalt : The schema has been modified so that the propertyClasses are at the top level and can be shared by all resourceClasses, statementClasses and hierarchyClasses. If you would like to review it, you are welcome: [SpecIF Schema v0.10.6 (draft)](https://github.com/GfSE/SpecIF/blob/SpecIF-Level-1/schema/specif.schema.json).
The constraint checker will be updated accordingly and a couple of test-c

[2019-02-20 22:58] odungern commented on #4
@oalt : In fact, I must admit that I do not quite get your point. Could you give an example of hierarchically structured hierarchies?

[2019-02-21 18:06] oalt commented on #4
Here is an example how it could look like:
[code]
It is the same principla as for hierarchies referencing Resources with the difference that a repository references hierarchies to bring them in a tree structure.
I am not sure if it is necessary to create a repository class. This depends of if you want to give a repository additional attributes (properties).
If a hierarchy is defined of class "fold

[2019-02-21 18:28] odungern commented on #5
- Now, also the [constraint-checker](https://github.com/GfSE/SpecIF/blob/SpecIF-Level-1/check/specif.check.js) is updated to support v0.10.2 up until v0.10.6.
- 4 new test-cases have been added to [test-cases v0.10.2+](https://github.com/GfSE/SpecIF-Examples-and-Test-cases/tree/master/test-cases/v0.10.2%2B).

[2019-02-21 23:23] odungern commented on #4
.. excuse me please, I rather meant an application example.

In my eyes, a SpecIF project (= file) has perhaps 2.000-10.000 resources and let's say 20.000 statements. The product management, requirement engineers and product architects are the authors. There are perhaps 3 or 4 target groups which get a tailored view, provided by a hierarchy each. A target group may be the functional security speci

[2019-02-24 21:21] odungern commented on #5
Now published at:
- https://specif.de/v0.10.6/schema
- https://specif.de/v0.10.6/check.js

... even though not yet released.

[2019-02-26 06:58] odungern opened #7 "Provide SpecIF templates"
@oalt :
Thanks for your effort to prepare the "semantics" folder. It is a good idea to provide some semantic guidelines: As you do, I believe that an agreed upon vocabulary makes the difference. And then, why not provide ready-to-use SpecIF-templates.

I would like to propose, however, to combine all x01_... files into a single one that is schema-compliant. Anyways, the resourceClasses need the da

[2019-02-27 17:56] oalt commented on #7
Hello @odungern !
I have used different files for each class resp. data type definition to have a fine-granular overview as long as the definition process goes on and the discussion about the different classes. When a release of the semantics is done it makes sense to create a file containing the complete semantic definition in one.

[2019-02-27 18:07] oalt opened #9 "No automotive specific properties in IREB:Requirement"
I think the properties "PC-SupplierStatus", "PC-SupplierComment", "PC-OemStatus", "PC-OemComment" in the property class IREB:Requirement are to specific for a general definition of requirements. So I would suggest to remove them for the moment.
## Idea
As I thought about that, I had the idea if it makes sense to introduce an inheritance mechanism to SpecIF for the classes. This would provide the a

[2019-02-27 22:19] odungern commented on #9
... yes, also Markus Brandstätter thinks that inheritance is an important feature. We should think about it ... it is not difficult ... and you have already proposed a solution.
With respect to the HIS properties: I think this is not a beautiful, however proven method to communicate on single issues. At the same time not everybody needs it, probably it is only a minority. Anyways I propose to supp

[2019-02-27 22:26] odungern commented on #4
@oalt :
You have told me that you have a solution in which you present multiple hierarchies from multiple sources in a common environment. Yes, that's a perfect example of model integration. In this situation it makes sense to have a hierarchy for the hierarchy roots.
However, something bothers me when thinking of hierarchies of hierarchies. Perhaps a hierarchy root should be just a fat node (with

[2019-03-02 12:48] odungern commented on #4
@oalt :
Thinking even further, I come to believe that we don't need any fat nodes (hierarchy roots). A hierarchy then has just nodes and in case I want to add some information to  a specific hierarchy, then I create a resource with the information and point to it. Just the same way we are using resources for folders. Then, we don't need any hierachyClasses, either. I love it.
The bidirectional tra

[2019-03-02 12:52] odungern commented on #4
.. so a node could be allowed not only to point to an internal resource, but alternatively to a SpecIF container ... which is expanded, when it is in reach.

[2019-03-02 18:39] odungern commented on #5
Now published:
- https://specif.de/v0.11.6/schema (corresponding to v0.10.6, still in draft status)

[2019-03-03 09:39] odungern commented on #7
@oalt :
Have a look: https://github.com/GfSE/SpecIF-Examples-and-Test-cases/tree/master/templates.
We could add some more and less elaborated templates for different target groups over time.

[2019-03-03 09:39] #7 closed, assigned to nobody

[2019-03-03 09:42] odungern commented on #9
... so I agree with your proposal and have started by providing a very simple requirements-management template using the vocabulary terms as far as already defined: https://github.com/GfSE/SpecIF-Examples-and-Test-cases/tree/master/templates.

[2019-03-03 09:42] #9 closed, assigned to nobody

[2019-03-05 23:22] odungern commented on #5
Now, both SpecIF-levels have been updated to support propertyClasses at the top level, which can be shared between all resourceClasses, statementClasses and hierachyClasses. Both the schemata and the constraint-checks are now available (CORS-enabled):
- https://specif.de/v0.10.6/schema
- https://specif.de/v0.10.6/check.js
- https://specif.de/v0.11.6/schema
- https://specif.de/v0.11.6/check.js

Any

[2019-03-10 11:48] odungern commented on #5
It has been decided in a meeting
- to provide a flat list of property classes at the top level, which can be shared by all resourceClasses, statementClasses and hierarchyClasses.
- not to provide a possibility to represent hierarchy nodes in a flat list. Reasons are (1) to keep the schema simple and (2) the ability to transform the lists easily with information loss.

[2019-03-10 11:48] #5 closed, assigned to nobody

[2019-03-10 11:53] odungern opened #10 "Inheritance for SpecIF classes"
An inheritance relation is helpful to maintain consistent class definitions. The idea is that an instance (e.g. resource) of a certain class (resourceClass in this case) may use all propertyClasses of the chain of ancestor classes. The same applies to subjectClasses and objectClasses in case of statements.

[2019-03-10 15:35] odungern commented on #4
Have a look - first step:
- [schema v0.10.7](https://github.com/GfSE/SpecIF/blob/SpecIF-Level-1/schema/specif.schema.json)
- no more hierarchyClasses.
- hierarchy roots are now nodes
- previous hierarchyClasses are now represented by resourceClasses
- previous hierarchies are now represented by resources to which the hierarchy root-nodes point.

[2019-03-11 08:08] odungern commented on #10
@oalt and anybody else:
- Which keyword is preferrable to indicate inheritance: 'extends', 'inheritsFrom' or 'specializes'?
- or any other proposal?

I myself would prefer 'extends' as it is used in TypeScript.

[2019-03-11 21:48] oalt commented on #10
Possible alternatives:
* Java, TypeScript: extends
* C++, C#: ':' (not applicable for SpecIF)
* EIFFEL: inherit
* RDF (https://www.w3.org/TR/rdf-schema/#ch_subclassof): rdfs:subClassOf

[2019-03-13 09:15] odungern opened #11 "Provide element schemata"
The idea is to provide separate schemata for the SpecIF elements, such as 'dataType', 'resourceClass' or 'resource'. Separate schemata can be used by an API to check incoming data.

There are two alternatives:
- JSON Schema allows to separate a schema into multiple files. Then, a schema for each SpecIF element is provided and the SpecIF schema references them.
- Keep the SpecIF schema as it is and

[2019-03-14 19:57] oalt opened #12 "Extend nodes with a description item"
Extend the data structure for nodes with a description item. All other data types have such a description:
[code]
I had missed that also in ReqIF, because when you implement tools and you have to verify that the generated data is correct, you have no possibility to store helpful information for human readers in the nodes. So the information in a nodes description item is not at first for a tool fo

[2019-03-15 08:21] odungern commented on #12
@oalt :
The idea of a node is not to carry any information payload, but to be a hook for ordering the resources which carry the information. In principle, nodes should not have a 'title' either. The only reason to provide a 'title' attribute is to allow showing a tree without looking-up every single resource. It is redundant, though.

Now, what is your intent for a 'description' attribute?

Perhap

[2019-03-17 21:25] odungern commented on #10
Today I have specifically checked whether Dublin Core has an inheritance concept ... it has not.

[2019-03-19 17:19] odungern opened #13 "Enumerated dataTypes may have multi-language values"
In SpecIF-level-3 (master branch), the titles of the values of an enumerated dataType shall be specified in different languages. Then, a viewer can display the enumerated values in the appropriate language.
The  specification may be viewed completely language-dependent:
- The viewer (tool) may translate the SpecIF vocabulary terms to the desired language
- The author may provide the values of an e

[2019-03-20 21:47] oalt commented on #10
I vote for 'extends' :-)

[2019-03-20 21:56] oalt commented on #10
@odungern: Would you like to use a relation (statement) to express the inheritance or a new JSON property?
I think a JSON property is enough, because we need a possibility to express, that e.g. a ResourceClass extends another one.
So it could look like this:
 {
      "id": "RC-Requirement",
      "title": "IREB:Requirement",
      "description": "A 'Requirement' is a singular documented physical a

[2019-03-21 20:37] odungern commented on #10
Thanks, @oalt ,
Exactly, I think a property is sufficient ... and your proposal is exactly what I had in mind. There are no relations between classes, anyways.

[2019-03-21 20:49] odungern commented on #10
Has been implemented for SpecIF-Level-1, see https://specif.de/v0.10.7/schema.
The schema for SpecIF-Level-3 will come shortly with https://specif.de/v0.11.7/schema.
The consistency checkers will take a couple of weeks.

[2019-03-21 22:23] odungern commented on #13
Schema of SpecIF-Level-3 has been enhanced, see https://specif.de/v0.11.7/schema.
The consistency checker will be updated accordingly in the coming weeks.

[2019-03-21 22:24] odungern commented on #10
Schema of SpecIF-Level-3 has been enhanced, see https://specif.de/v0.11.7/schema.
The consistency checker will be updated accordingly in the coming weeks.

[2019-03-21 22:24] odungern commented on #4
Schema of SpecIF-Level-3 has been enhanced, see https://specif.de/v0.11.7/schema.
The consistency checker will be updated accordingly in the coming weeks.

[2019-03-22 07:13] odungern commented on #12
@oalt :
I had a look at the schema for nodes (in the context of removing the hierarchyClasses). The nodes neither have a title nor a description (even though I am using the titles all the time for performance reasons).
But there is no restriction to add additional properties.
Thus I suggest to keep the schema clean from redundant information, i.e. not to add title and description. If an implementa

[2019-03-23 10:27] odungern opened #14 "Schema: Define properties for files"
Define the properties of the properties of the items in 'files', such as:

    "files": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "In case of a file, the id is ideally an absolute or relative URL.",
            "$ref": "#/definitions/id"
          },
          "title": {
            "type": "string"

[2019-03-23 10:28] odungern commented on #14
Done with https://specif.de/v0.10.7/schema and https://specif.de/v0.11.7/schema.

[2019-03-23 10:28] #14 closed, assigned to nobody

[2019-03-24 08:08] odungern opened #15 "Polishing before v1.0"
I propose the following to make the schema more consistent:
- rename enumerated dataType value from 'title' to 'value' .. which it is in the end. Rationale: all content, which may be provided in differrent languages, is called 'value'.
- remove requirement for 'title' in case of resources and statements ... and add it to propertyClass. Rationale: For resources and statements the title is redundant

[2019-03-24 10:53] odungern opened #16 "Add default values to propertyClasses"
ReqIF has the possibility to define a default value to an ATTRIBUTE-TYPE. These are assumed by the instance ATTRIBUTE, if it has no value.
To allow a 100% transformation between ReqIF and SpecIF, we would need default values for propertyClasses.

[2019-03-24 12:25] oalt commented on #15
@odungern: I agree with all. What do you exactly mean with "... or remove 'statements'."?

[2019-03-24 13:48] odungern commented on #15
The list of required top-level elements is currently:
`
  "required": [
    "id",
    "title",
    "specifVersion",
    "dataTypes",
    "propertyClasses",
    "resourceClasses",
    "statementClasses",
    "resources",
    "statements",
    "hierarchies"
  ]
`

Thus, 'statements' are required, even though there may be valid SpecIF data-sets without statements, but 'files' is not required, even th

[2019-03-24 20:38] oalt commented on #15
I think only these properties should be **required** for a SpecIF file:
`"required": [ "id", "title", "specifVersion"]`
The reason is: With such a definition you can have SpecIF files only containing the data type and class definitions and other files conatining the data. When working with SpecIF you have to create a superset of all SpecIF data available. If a class is missing you can not edit or

[2019-03-25 06:07] odungern commented on #15
Very good argument. I'll think about it again, but I guess this will be the way to go.

[2019-03-26 07:33] odungern commented on #15
However, if we have a schema which requires almost nothing and allows everything else besides the defined elements, we don't need a schema at all. At every level we must decide whether we require certain elements or we don't permit any other elements than the defined ones. So far, there is only a limitation to the defined elements in case of dataTypes. The idea was to allow any private extensions

[2019-03-26 21:19] oalt commented on #15
I have thought about that again. I think it was a misunderstanding from my side: When you have a required property (e.g. an array of Resource elements) you can have a valid file containing an empty array (`'resources' : []`). Correct?
In this case you can use the schema as it is/was. I would propose to include the files additionally.

[2019-03-28 19:15] odungern commented on #15
Your assumption with respect to empty lists is correct for the current schema implementation. (You could, however, require a minimum and/or maximum of list elements).
I will go through the schema during the weekend and reconsider all required elements at all levels. We must find a balance between a useful schema and some extensibility for special applications. I'll make a proposal and we can discu

[2019-03-28 22:45] odungern opened #17 "What type shall have the revision?"
Currently the revision is of type 'integer'. Thus, only sequential numbering is possible, but no branching. Also, document-databases have a more elaborated designation of revision.

Proposal: Change to 'string' and require that any newer revision is sorted in lexical order after any older.

@oalt : What do you think?

[2019-03-28 23:16] odungern commented on #17
The problem of pure lexical ordering is that 11 < 2. The SpecIF:OrdinalMark is defined as follows ... and could be used as a revision scheme:

A string to determine the ordering of elements. Rules:

- For ordering, only alphanumeric characters are permissible. A letter case has no effect; for example, 'F' is equivalent to 'f'.
- The ordering at character level is alphanumeric, i.e. '1' < '7' < 'D'

[2019-03-29 17:25] odungern commented on #17
My proposal is:
[code]

[2019-03-30 16:15] odungern commented on #15
To decide which elements shall be required and which not, it is proposed to apply the following principles:
- require elements/attributes which characterize the nature or being of SpecIF, even if they are not necessary for a correct and useful system specification. Example: statements at the top level.
- do not require elements/attributes which may appear very often (and thus adding considerable v

[2019-03-30 16:21] odungern commented on #17
Have a look at [SpecIF schema v0.10.8](https://specif.de/v0.10.8/schema).

[2019-03-30 16:24] odungern commented on #16
Default values have been added to propertyClasses and dataTypes. The sequence of evaluation is: property-value supersedes propertyClass-value supersedes dataType-value.
Have a look at [SpecIF schema v0.10.8](https://specif.de/v0.10.8/schema).

[2019-04-02 06:25] oalt commented on #17
Hello @odungern !
When you want to support branching and merging, you have not just to extend the Revision, but add a possibility to link to maximum 2 predecessor revisions:

### Example: Revision graph with branching and merging
main/1
main/2
main/3 -- myBranch/1 // Here a branch occurs
main/4`           `myBranch/2
main/5`           `|
main/6   - +  // Here a merge occurs
main/7

* main/6 is a m

[2019-04-02 08:52] odungern commented on #17
... hmm, I am not expert in configuration management and so I am just wondering why predecessors are necessary. They haven't crossed my ways with CVS and SVN ... but I haven't fully embraced and understood GIT, yet (just using it happily under the hood ;-).
On the other side, with predecessors we do not have the problem of finding an implicit sorting as discussed further up; any revision label wou

[2019-04-02 22:48] odungern commented on #17
Have a look at [SpecIF schema v0.10.8](https://specif.de/v0.10.8/schema).

[2019-04-03 06:24] odungern commented on #17
.. is 'predecessor' a good name?  Have checked with RDF/RDFS and Dublin Core, but haven't found a term for previous revisions.

[2019-04-03 17:22] odungern commented on #17
Looking again I found [dcterms:replaces](http://www.dublincore.org/specifications/dublin-core/dcmi-terms/terms/replaces/).

[2019-04-03 22:18] odungern commented on #17
New property name for the predecessors in the revision history is 'replaces'.
Have a look at [SpecIF schema v0.10.8](https://specif.de/v0.10.8/schema)

[2019-04-09 21:47] odungern commented on #17
And have a look at [SpecIF schema v0.11.8](https://specif.de/v0.11.8/schema)

[2019-04-09 21:47] odungern commented on #16
And have a look at [SpecIF schema v0.11.8](https://specif.de/v0.11.8/schema)

[2019-04-09 21:48] odungern commented on #15
And have a look at [SpecIF schema v0.11.8](https://specif.de/v0.11.8/schema)

[2019-04-09 21:49] odungern commented on #12
Rationale to add title and description everywhere is as follows:
- For example it makes sense to add a title to a node when storing a hierarchy in a database, because then a tree can be built without retrieving every single referenced object to look up their title.
- When creating a SpecIF file, it would be better to omit the title of nodes to avoid redundancy.
- In case of resources and statement

[2019-04-14 20:05] oalt commented on #9
Hi @odungern !
I have updated the class definitions and removed the automotive-specific properties from the base-types. Additionally I added new resource classes e.g. VDA:Rrequirement. This classes extend the base types and provide the automotive-process-specific extension properties ("HIS-process").

[2019-04-14 20:10] oalt opened #18 "dcterms:abstract for SpecIF:Diagram resource"
In the class definitions I have created a new property class "dcterms:abstract" and applied it to the SpecIF:Diagram resource. The reason for this is, that I searched for a possibility to separate the representation of the diagram image (SVG, PNG etc.) information from a descriptional text. E.g. in UML-tools you have the graphical diagram and additionally you can give a descriptional formatted tex

[2019-04-15 13:40] odungern commented on #18
So far, I have solved this issue by providing two separate propertyTypes:
- description with title "dcterms:description"
- diagram with title "SpecIF:Diagram".

Example:
[code]

[2019-04-17 11:57] oalt commented on #18
Ok. I will follow this example and change the class definition.

[2019-04-17 12:05] #18 closed, assigned to nobody

[2019-04-17 12:29] oalt opened #19 "Allow Statements to have a Statement as Subject or Object"
In trying mapping some data to SpecIF, I have the problem, that sometimes it would be very helpful, if you could add a Statement, that comes or goes from or to another statement. I provided just one example here:
![StamentToStaementExample](https://user-images.githubusercontent.com/10502268/56287119-d6f67c80-611b-11e9-8d38-5142898da006.png)
This diagram expresses, that the two resources and the wr

[2019-04-17 15:11] odungern commented on #19
You are right, it is interesting where certain statements have been defined, especially in case of contradiction. You want to know which diagrams to look at and modify to resolve it. It is possible to restrict the possibility to certain statements such as SpecIF:shows by adding the permissible statementClasses to the subjectClasses or objectClasses of the respective statementClass.
You are also ri

[2019-05-02 13:20] oalt opened #20 "Stereotype property for which resource classes?"
Makes it sense to apply the property 'PC-Stereotype' to each SpecIF resource class or is this restricted to a specific subset? Which practical experience is available using the stereotype property?

[2019-05-02 15:32] odungern commented on #20
So far, I have used a property with title 'SpecIF:Stereotype' as follows:
- In BPMN there are multiple types of events, such as 'startEvent', 'intermediateEvent' ... and about 15 others.
- All BPMN events would get a common resourceClass of with title = 'FMC:Event'.
- It gets a propertyClass with title = 'SpecIF:Stereotype'
- Then, a particular BPMN 'startEvent' would be an instance of the resourc

[2019-05-02 15:45] odungern commented on #20
.. so with respect to your question: There are several resourceClasses, where Stereotypes make sense, e.g. FMC:Actor, FMC:State, FMC:Event, IREB:Requirement and SpecIF:Feature. I haven't thought about the others, yet.
In case of resourceClass with title SpecIF:Diagram I have used a property SpecIF:Notation to distinguish different types, for example.
So I do not see the need of a stereotype for al

[2019-05-02 15:57] odungern commented on #20
The main criterion on whether a certain type/subtype becomes a resourceClass or just a stereotype of a more general resourceClass is:
- if you need a specific set of properties, consider to define a specialized resourceClass.
- if you need to specifically target an instance of a certain resourceClass with a statementClass (via subjectClasses and objectClasses), consider to define a specialized res

[2019-06-14 15:44] oalt opened #21 "Add System enumeration value to discipline"
I think it makes sense to have an additional value "System" in the Enumeration for the DT-Discipline to assign a requirement to a mechatronic System or a mechatronic control chain.

@odungern: What do you mean? Should we add such a value?

Definition reference: classDefinitions/102_EnumDatatypes.specif

[2019-06-15 20:50] odungern commented on #21
The idea of 'discipline' is to denote the engineering discipline taking care of development. If you propose 'system', you mean the 'system engineering' discipline? In that case we can add 'system'.

[2019-06-15 21:48] odungern commented on #21
I added the value as proposed: https://github.com/GfSE/SysML-SpecIF-Bridge/blob/master/classDefinitions/SysML-Template-v0.10.6.specif

Actually, I think we should use vocabulary terms for all enumerated property values, such as 'SpecIF:priorityHigh' for priorities: https://specif.de/apps/view.html#import=%22../examples/Vocabulary.specifz%22

[2019-06-15 21:48] #21 closed, assigned to odungern

[2019-06-15 21:59] odungern commented on #17
.. here, there is no need to add a constraint check; there is no need that the predecessor is present in the current SpecIF data-set.

[2019-06-15 21:59] #17 closed, assigned to nobody

[2019-06-16 07:30] odungern commented on #20
@oalt : if you see the need for additional discussion or a change of the schema, please reopen this issue.

[2019-06-16 07:30] #20 closed, assigned to odungern

[2019-06-16 07:58] odungern commented on #19
- schemata [v0.10.8](https://specif.de/v0.10.8/schema) and [v0.11.8](https://specif.de/v0.11.8/schema) allow to specify statementClasses as subjectClasses or objectClasses without change. However the descriptions have been updated to reflect this possibility.
- The constraint checks need to be updaed, still.

[2019-07-07 20:54] odungern commented on #19
The constraint checker for v0.10.8 and 0.11.8 have also been updated to reflect this change.

[2019-07-07 20:54] #19 closed, assigned to nobody

[2019-07-08 16:17] odungern opened #22 "Add native property 'visibility'"
Values:
- public
- private
- protected (?)

What do you think: @oalt ?

[2019-07-08 16:19] odungern opened #23 "Icon can be a link/URL"
So far, an icon is a (short) string (e.g. allowing to specify UTF-8 characters), but @oalt proposes to allow a link to a graphical icon.

[2019-07-08 17:11] odungern commented on #23
... what about a dataURL, such as:
- data:[&lt;mediatype&gt;][;base64],&lt;data&gt;

So, if the value attributed to icon is a dataURL, then it is decoded and shown. If it is not a dataURL, then it is taken as a string like in the past. It can still be a UTF-8 character, for example.

@oalt : What do you think?

[2019-07-14 20:27] odungern commented on #16
- the values of dataTypes as a last resort to provide a default value of a property has been removed from schema v0.10.8 and v0.11.8.
- now, the only way to define a default value is via a propertyClass.
- reason is that a (default) value defined at dataType level may not satisfy native properties of a propertyClass, e.g. 'maxLength in case of a string.

[2019-11-10 10:00] oalt commented on #23
Hello @odungern !
Your proposal is ok for me.

By thinking about the icons: Would it be helpful to have the possibility to specify an icon not just in the type definitions, but also in the instances (Resources and Statements)? So it would be possible to specify specific icons for a concrete data element.
@odungern What do you think?

[2019-11-10 10:14] oalt opened #24 "Definition of default language for a property value"
In SpecIF you can define the property values in different languages or use a simple string if you do not need multiple languages.
To ensure the compatibility and the ability to convert data from simple string to multi-language representation and vice versa, an information about the used language in the string value is required.

My first idea was to define a new JSON property "defaultLanguage" in

[2020-01-24 06:45] odungern opened #25 "Introduce 'extends' also on project level"
@oalt , you have provided a whole bunch of standard types to be used in different domains or for different purposes. Except for the basic ones, the files do not comply with the schema.
When using 'extends' at the project level, we can indicate that together with another more basic file, there is complete and schema-compliant content.

[2020-01-24 06:48] odungern commented on #11
.. .the partial element schemata could be used in the API definition, rather than appending separate schema definitions (@oalt ).

[2020-01-24 06:53] odungern opened #26 "Introduce 'alternativeIds'"
When merging models from different tools, the same element has different ids with all likelyhood. We should keep track of original ids, which can be used for searching or updating. As there can be more than one original id, it should be a list.

[2020-01-24 06:59] odungern commented on #23
If we allow a dataURL, we could also allow an absolute or relative URL, which in case of HTML can be used in the same places as a dataURL.

But I suggest not to allow XHTML constructs such as &lt;img src="URL" /&gt;.

Further Questions:
- this means the referenced image must be supplied in the correct format and size, no formatting info can be added.
- should we add a RegEx to the schema, or leave

[2020-01-25 22:37] odungern commented on #24
Yes, indeed, that's an issue.
- Initially I thought that the default is the first language that is in the list. But perhaps some tools don't preserve the sequence. An explicit property is definitively better.
- Also I have thought that the default language is the browser language. This is, I think, a valid assumption, but perhaps there are use-cases which require an explicit denomination of the de

[2020-01-25 22:39] odungern commented on #16
Has been implemented in schemata v0.10.8 and v0.11.8.

[2020-01-25 22:39] #16 closed, assigned to nobody

[2020-01-25 22:44] odungern commented on #10
The consistency checker for v0.10.8 and v0.11.8 checks whether the id given als value for 'extends' is a resource resp statement class.

[2020-01-25 22:44] #10 closed, assigned to nobody

[2020-01-25 22:46] odungern commented on #4
Consistency Checkers for v0.10.8 and v0.11.8 have been updated.

[2020-01-25 22:46] #4 closed, assigned to nobody

[2020-01-25 22:47] odungern commented on #4
Thanks a lot, @oalt , for your proposal. Getting rid of the hieryClasses was a very good move!

[2020-01-25 22:51] odungern commented on #12
'description' has been added to a node, see schema v0.10.8 and v0.11.8, but is not required.

[2020-01-25 22:51] #12 closed, assigned to odungern

[2020-01-25 22:56] odungern opened #27 "Require node ids"
While it is not necessary to construct a working data set without node ids, the API needs it to offer operations to modify the hierarchy. Inserting a node needs a 'parent' (to create a lower level) or 'predecessor' (to insert at the same level), and the only unambiguous way to identify a node is by id (a resource may be referenced multiple times in a hierarchy).
Thus we should require a node id wi

[2020-01-26 14:59] odungern commented on #24
@oalt : Do you have a use-case where the browser-language is not adequate to determine the default language?

[2020-01-27 18:24] oalt commented on #26
I agree with this proposal.

[2020-01-27 18:30] oalt opened #28 "Let a revision data consist of a branch name and an ID"
Represent a revision as a tuple of data
* branch name
* revision ID (e.g. a hash)

Each revision is unique following this schema. The following rules shall be always followed by all SpecIF providers:

1.  If the `replaces `is empty, the element is the first one in the branch stated in the revision
2. If the element is not the first element in the given branch the `replaces `  must always been set

[2020-01-28 07:23] odungern opened #29 "Name data types according XML Schema Part 2: Datatypes"
See [XML Schema Part 2: Datatypes Second Edition](https://www.w3.org/TR/xmlschema-2/), for example XSD:Boolean instead of xs:boolean.

[2020-01-28 09:38] oalt commented on #28
A branch name is also not unique enough. When a second user sets the same branch name we have two different branches with the same name. So we need also a branch ID.

[2020-01-28 17:29] odungern commented on #29
According to [w3schools](https://www.w3schools.com/xml/schema_dtypes_numeric.asp) we did it correctly. However the original attributes are
- fractionDigits
- maxInclusive
- minInclusive

rather than _accuracy_, _min_ and _max_, which are used with ReqIF.

[2020-01-28 17:37] odungern commented on #29
According to [Wikipedia](https://de.wikipedia.org/wiki/XML_Schema#Einfache_Typen), the datatypes are designated, as we did. However, the restrictions are named differently; we should use the original terms as stated in the previous comment.

[2020-01-28 22:12] odungern commented on #28
What do you mean by tuple: "branchId-revisionId" as a single string?  Or a JSON-Object with multiple properties? I guess (and hope) the former.

[2020-01-28 23:08] odungern commented on #28
Don't quite understand the discussion: A revision tag will be unique with all likelihood, so it doesn't matter in which branch it has been created. We chain the revisions by unique values ... where's the problem?
Perhaps we would like to decode in which branch a revision has been created ... then a branchId helps.
Or am I missing out on something?

By the way: the replaces property is a list with

[2020-01-29 14:07] odungern commented on #29
In Telco on 2020-01-29 approved as stated in the last comment.

[2020-01-29 14:10] odungern commented on #28
In Telco on 2020-01-29 it has been agreed that there is a mandatory condition that the revision is globally unique and no other. Therefore this is the only requirement imposed by the schema.

Any addition of a branch name or branchId may be helpful and can be adopted by best practice or convention.

[2020-01-29 14:10] odungern commented on #27
In Telco on 2020-01-29 approved.

[2020-01-29 14:13] odungern commented on #26
In Telco on 2020-01-29 approved.
Discussion came up on whether it is useful to include other information such as projectId or tool-name. In this case, the property name could/should be 'sources'.
In the end: Yes, there are possible use-cases, but no concrete requirement.

[2020-01-29 14:18] odungern commented on #25
In Telco on 2020-01-29 approved. @oalt points out, that it should be a list, as a schema-compliant file can be composed of multiple fragments.
So another idea is to add a boolean property 'isFragment'. In this case it is expected that the content is schema-compliant not on its own, but in combination with any content loaded before. This does not allow to automatically collect all necessary fragmen

[2020-01-29 14:22] odungern commented on #24
Approved in general in telco on 2020-01-29. @oalt points out that there is a need to declare the language in case only string values are provided.
It has been agreed that a 'language' property shall be added at resource or statement level. It applies to all properties which have no language definition. It is superseded by a property's language definition.

[2020-02-04 17:20] odungern commented on #3
To have a general approach, a revision must be a GUID, now, and not just an incremented number. So the rules with respect to '0' don't make sense. Thus, the rules are modified.

For items, the following rules apply:
- If there are items with the same id, they all must specify a revision.
- All revisions of the same item must be different (the key consisting of id and revision must be unique).

For

[2020-02-04 17:20] #3 closed, assigned to nobody

[2020-02-04 17:29] odungern commented on #11
It has been decided not to pursue this goal for v1.0. While a segmented schema with references is preferrable in terms of redundancy avoidance (DRY principle), it is perhaps more difficult to handle, as the complete schema consists of multiple files.

[2020-02-04 17:35] odungern commented on #27
Implemented in schema v1.0.0

[2020-02-04 17:35] #27 closed, assigned to nobody

[2020-02-04 17:41] odungern commented on #26
We will implement the option to specify a string specifying an identifier or an object with a mandatory attribute 'id' and other optional information such as 'project'.
Implemented with schema v1.0.0, but the constraint check is still to be enhanced.

[2020-02-04 20:55] odungern commented on #26
Just thinking: The consolidation of a resource in the course of integrating two models is conceptually the same as merging two branches. Therefore it is an idea to add the id/key of a consolidated resource to the 'replaces' list instead of an 'alternativeIds' list.
However, a consolidated resource is only added to the 'replaces' list once. In contrast, the 'alternativeIds' list keeps the keys of a

[2020-02-04 22:52] odungern commented on #26
The merge of two branches of the same model and the integration of two different models is similar, but not the same, however:
- merge of two branches: Items with the same ID but different revision numbers are replaced by a common item. The revision of the merged item is noted in 'replaces' *once*.
- merge of two models: Items with different IDs are replaced by a common item. One ID prevails while

[2020-02-10 16:16] oeichmann commented on #26
Concerning the merge of two branches I agree. The item with the older revision should be replaced by the newer one.
For bidirectional traceability it is important to keep the ID that was used in the initial model as alternativeid. I would suggest to store the corresponding model or project ID. In case there are multiple initial models, alternativeids can be allocated to the respective models.

[2020-02-11 00:22] odungern commented on #26
Yes, I agree.
The current idea ist to allow both simple IDs (strings) or JSON-Objects with several properties, which must include the id of the merged model element and may include revision, project-id and perhaps other properties;

Schema:
[code]

[2020-02-14 20:54] odungern commented on #29
Implemented in schema and consistency check v1.0.0.

[2020-02-14 20:56] #29 closed, assigned to nobody

[2020-02-14 20:56] #28 closed, assigned to nobody

[2020-02-14 20:57] odungern commented on #26
Implemented in schema v1.0.0, no need for any consistency check.

[2020-02-14 20:57] #26 closed, assigned to nobody

[2020-02-14 21:12] odungern commented on #25
A boolean 'isExtension' is added to schema v1.0.0. The idea is that an extension does not necessarily comply with the schema on its own, but together with another project which is loaded, before.

[2020-02-14 21:12] #25 closed, assigned to nobody

[2020-02-14 21:15] odungern commented on #24
Implemented with schema v1.0.0,

[2020-02-14 21:16] #24 closed, assigned to odungern

[2020-02-14 21:19] odungern commented on #23
An icon can be string, URL or dataURL, there will be no regex. Description updated with schema v1.0.0.

[2020-02-14 21:19] #23 closed, assigned to nobody

[2020-02-14 21:22] odungern commented on #22
All featured with respect to multi-projects, visibility and inter-project statements will be left to schema versions >v1.0.0, as we have some ideas, but no real use-cases.

[2020-02-14 21:28] odungern commented on #15
We keep the current definition for v1.0.0.

[2020-02-14 21:28] #15 closed, assigned to nobody

[2020-02-14 21:30] odungern commented on #13
The consistency checker does not yet support multi-language enumerated values.

[2020-02-18 06:42] odungern opened #30 "Node requires 'changedAt'"
For v1.0, 'changedAt' has been added to the required properties of a node (a nodes' item). Of course it will be set, when a node is created or modified.
But in fact. also the parent is changed, if a node is added or moved So also set the changedAt of the parent? I propose not to do so, also because at root level, there is no parent. This feel a little strange, when moving a node with PUT and speci

[2020-02-26 20:30] oalt commented on #13
Supported in schema for 1.0

[2020-02-26 20:30] #13 closed, assigned to nobody

[2020-02-26 20:31] oalt commented on #30
Supported in schema for 1.0 release

[2020-02-26 20:31] #30 closed, assigned to nobody

[2020-03-01 14:34] odungern opened #31 "constraintCheck: Rework handling of revisions"
In some code segments there is still an assumption that revisions are ascending integers.

[2020-03-02 12:00] odungern opened #32 "constraintCheck: Enumerated dataTypes may have multi-language values"

[2020-03-02 14:43] odungern opened #33 "Schema: Deal with quantitative units"
In mechatronic systems (and others), a numeric value is often to be understood as measure of a unit, e.g. [m], [m/s] or [m^3/kg]. We haven't talked about this, yet. Where to specify a unit, dataType or propertyType?  Both is basically possible, but if ranges are defined with the dataTypes, units should be as well.
This question will get at us at the latest when we want to transform SysML parametri

[2020-03-04 15:41] oeichmann commented on #33
In my opinion, DataTypes in UML and ValueTypes in SysmL are an important aspects and should be consiedered in the SpecIF schema. We will probably need to consider them already when dealing with SysML blocks, since blocks can have ValueTypes. It's also important when we think about model exchange with modeling tools with a stronger focus on mathematical expressions, e.g. Matlab Simulink.
Therefore,

[2020-03-04 18:50] odungern commented on #33
After discussion we acknowledge that we have ideas, but no concrete use-case. Therefore we don't include it in the standard, for the time being: Rather add a feature than change it!

The current idea is to add the following optional attribute to the numeric dataTypes \"integer\" and \"double\":
[code]
We postpone the definition until we actually deal with concrete use-cases such as the UML/SysML t

[2020-03-05 14:00] oalt opened #34 "Remove restrictions from data types in base definitions"
Why are some numerical data type values in the Base Definitions restricted to a specific range?
* DT-Integer
* DT-Real
* DT-Decimal2
I would not restrict these data types ind the Base Definitions, because I think in practice we will have bigger numerical values to store.

[2020-03-05 22:01] oalt opened #35 "New SpecIF logo for release 1.0?!"
I have made a new logo design for SpecIF based on the colors @odungern  had used in his logo design. The idea behind my design is
- The integrating aspect of SpecIF, symbolized by the central green hexagon
- The integrated systems/tools/formats around
- Use a font, that "expresses" the technical character of a file format
![grafik](https://user-images.githubusercontent.com/10502268/76029402-ab979e

[2020-03-18 08:11] oalt opened #36 "Include $schema property in each SpecIF file"
Hello @odungern !

In my IDE there is an example of a JSON configuration file where at the beginning a property "$schema" with a schema reference is included.

Example:
[code]
What do you think - should we include such a property in each SpecIF file as well?

[2020-03-18 20:49] odungern commented on #36
Indeed, that's only logical. Our schema states it's schema, as well.

Here, we have an example, where the schema has an extension *.json. In other cases, there is no extension. This is a detail, but perhaps the situation to reconsider this question.

[2020-03-18 22:17] odungern commented on #36
Related issues:
- suppress specifVersion; no need if $schema is provided.
- should the specif data-set have 'id' or '$id'?
- host the schema as well on schemastore.org?  Looks as an interesting way to proliferate the idea, especially since some well-known editors draw from there.  However I have not seen yet how to submit a schema to be included.

[2020-03-18 22:19] odungern commented on #36
Thanks, oalt for bringing up the topic. It is the 'dot on the i' (as we say in German) for v1.0!

[2020-03-18 22:48] odungern commented on #36
I propose:
[code]
The first option points firmly at our own server, the second would allow to reference a schema hosted on schemastore.org.

[2020-03-19 07:02] odungern commented on #36
With respect to extension .json or not. On schemastore.org:
- 87 entries have an extension .json
- 80 entries follow the example of json-schema,org and have no extension.

Following my guts, I would do like json-schema.org, but my experience does not like implicit knowledge in such cases, and so my proposal one step up does carry an extension ,,,

Your opinion @oalt @oeichmann @S-Ruesch ?

[2020-03-19 10:05] odungern commented on #36
We could submit our schema here: [SchemaStore at GitHub](https://github.com/SchemaStore/schemastore)

[2020-03-19 23:32] odungern commented on #36
... implemented according to proposal made above.

[2020-03-19 23:32] #36 closed, assigned to odungern

[2020-03-26 09:57] oalt opened #37 "Remove "minItems": 1 from dataTypes in schema"
In the dataTypes section in the schema is a restriction included to have at least 1 item in the array.

I think there are some use cases where no data types are included - if a SpecIF file uses just standardized data types and other metatypes.

So I suggest to remove this constraint from the schema.

[2020-03-26 13:42] odungern commented on #37
.. agreed, it was a leftover from earlier times. We now can have valid SpecIF data without dataTypes ... and dataTypes can be omitted altogether.
There are other cases where it is a difference, whether there is _no_ list element or an _empty_ list element (for example in case of subjectClasses and objectClasses as part of statementClasses) ... but not here.
So I have removed the property.

(I wond

[2020-03-26 13:42] #37 closed, assigned to odungern

[2020-04-19 13:07] odungern opened #38 "New dataType 'xs:anyURI' ?"
As dataTypes (among other purposes) serve for checking user input of SpecIF model editors, a type for URIs resp. URLs would help.
For example, if a property has a dataType 'xs:dateTime' or 'xs:integer', a key-by-key input check may determine using a regex whether the user-input is valid. The same is possible, if there is a dataType as known in XML, see [xs:anyURI](http://www.datypic.com/sc/xsd/t-x

[2020-06-04 07:02] odungern opened #39 "Allow multiple values"
We have discussed the requirement of multiple values per property. In fact, we already have all the ingredients: 'multiple' flag for enumerated values and value lists for multi-language strings.
- Currently we say for a single value:
"value": "single-value"
- and in case of a multivalued enumeration:
"value": "value-id-1,value-id-2".
- For a multilanguage string we use:
"value": [{"text":"content"

[2020-06-04 07:21] odungern commented on #34
Yes, you are right and I am not happy with it either. The question is whether we require a minimal and maximal limit. So far, the schema does not require 'minInclusive' and 'maxInclusive', whereas the consistency checker does require them.
Proposal: We remove the requirement for 'minInclusive' and 'maxInclusive' from the consistency checker and we remove it from the base-definitions, as well.

[2020-06-09 20:13] oalt commented on #39
Hello @odungern !
I agree with your proposal but we have to change the multi-language value as well! It must be a array of arrays of text/language objects:

"value": [ [{"text":"content","language":"en"},{"text":"Inhalt","language":"de"}] , [ ... ] ]

Each value content is then an array containing either strings or multi-language values (array).

[2020-06-09 21:45] odungern commented on #39
Of course, you are right, @oalt ! Will implement it as soon as possible.

[2020-06-09 21:46] odungern commented on #39
Werde die Version auf 1.1 setzen, da es sich um einen 'breaking change' handelt.

[2020-06-09 22:37] odungern commented on #39
implemented, see [SpecIF schema v1.1](https://specif.de/v1.1/schema.json).

[2020-06-09 22:38] odungern commented on #38
Implemented, see [SpecIF schema v1.1](https://specif.de/v1.1/schema.json).

[2020-06-09 22:38] #38 closed, assigned to nobody

[2020-06-10 10:42] odungern commented on #39
We are just loosing the possibility to transform to ReqIF without loss.
Up to now we could create a ReqIF data-set by choosing a language and by factoring out inherited class info, for example, but I do not have an idea how to bring a list of >1 property values to ReqIF.
What do you think, @oalt @oeichmann @S-Ruesch

[2020-06-11 08:37] odungern commented on #39
@oalt : Could you please formulate/explain your application challenge requiring multiple values? Perhaps we can find another solution.

[2020-06-11 08:42] odungern commented on #39
To meet your challenge, @oalt : Can we add multiple property instances of the same propertyClass to a resource? Would need to specify a property identifier (which is optional in the schema) in this case to distinguish the values.
Need to check whether ReqIF allows multiple attributes of the same attribute-type; there is a better chance, however, than adding a value list to a single property instan

[2020-06-16 08:20] oalt commented on #39
@odungern : I thought about it again. Why do we not try to keep the compatibility to SpecIF schema 1.0? A value in 1.0 can be a simple string or an array of language: value pair. Why not just allow additionally to have an array of strings if the property class multiple is set to true or an array of langugae values for multi-language values.

So a value could be:
1. a siple string (property class v

[2020-06-18 21:22] odungern commented on #39
Definitively this is possible for the cases you have listed. Howerver, in addition we have the enumerated values. Now, these are one or more comma-separated value-ids. If we introduce arrays to represent multiple values, I would like to do the same with a multivalued enumeration. This however this breaks with the current schema 1.0.
Of course one could also write the schema to accomodate for both

[2020-06-23 16:57] odungern commented on #39
Having discussed with @oalt , we will open the possibility for the future. Use-Case is a list of tags, for example. Rather than encoding multiple tag values in a comma-separated-string, we can now use an array of values; the attribute 'multiple' must be set to true.

Summarizing:
- if 'multiple' is undefined or false, a property-value is a string or a list of objects with text and language, as bef

[2020-07-14 08:52] odungern opened #40 "Remove dataType 'xhtml' ?"
The distinction between unformatted and formatted text comes from ReqIF. But thinking a little further brings me to the conclusion, that the distinction is irrelevant, because in practice there are formatted property values without formatting and unformatted property values may eventually be displayed as HTML. Also, Markdown is quite popular and a very good choice for formatting text; creating ano

[2020-07-14 09:36] odungern commented on #31
fixed some weeks ago.

[2020-07-14 09:36] #31 closed, assigned to nobody

[2020-07-14 09:53] odungern commented on #34
No objections, so this is agreed. Will close it as soon as the constraint-check is modified accordingly.

[2020-08-17 16:44] odungern opened #41 "constraintCheck: Types of related resources"
Importing the HSUV Model of 2020-02-20, there are SpecIF:shows statements for Requirements, even though the statementClass does not allow it.

[2020-09-02 16:28] odungern opened #42 "Publish schemata on https://www.schemastore.org/json/"
... starting with SpecIF v1.0

[2020-10-07 15:29] odungern commented on #40
@oalt @oeichmann @S-Ruesch : What do you think?

[2020-10-07 17:48] odungern commented on #40
For the SpecIF-Viewer/Editor we have decided to treat the xs:string and xhtml Datatypes alike and to generate only xs:string on export.

[2020-11-14 13:13] koppor opened #44 "Make example model available again"
The [Tutorial 6: 'Very Simple Model (FMC)'](https://github.com/GfSE/SpecIF/blob/master/tutorials/06_Very-Simple-Model-FMC.md) shows following diagram:

![Very Simple Model (FMC)](https://github.com/GfSE/SpecIF/raw/cf5b54f5223799cdc55488381e7b997457e88243/tutorials/images/Very-Simple-Model-Relations.png)

When I open the SpecIF viewer at <https://specif.de/apps/view#view=doc;project=ACP-Very-Simple

[2020-11-14 23:10] odungern commented on #44
Hi Oliver,
.. do you see the tabs directly under the project title?
- your first image shows the semantic net in the vicinity of FiCo-Application. Have a look at the tabs: Here the "Statements" resp. "Aussagen" tab is selected. This view is used for checking the model semantics wrt to completeness or consistency.
- your second image shows the tab "Document" resp. "Dokument", which is an outline of

[2020-11-15 10:39] koppor commented on #44
Thank you for the quick response.

Minor comment: The link https://specif.de/apps/view#view=doc;project=ACP-Very-Simple-Model-FMC;node=N-MEl-50fbfe8f0029b1a8016ea86245a9d83a doesn't work any more. It should have been http://specif.de/apps-alpha/view.html#import=../examples/06_Very-Simple-Model-FMC.specifz. Should I open a new issue that links should be copyable (stable)?

Thank you for the clarifi

[2020-11-15 14:03] odungern commented on #44
Hi, Oliver,
.. thanks a lot ... it is important (however quite seldom) that readers feed back how they understand and what associations they have. I also like scrutinizing methods, concepts and models; some abstractions are useful and others are not ... and therefore I am trying to listen very closely to what you are saying ... I do not want to end up in the corner of academic bullshitting. To mos

[2020-11-15 14:35] odungern commented on #44
Wrt to the your hint on the link:
.. I have looked in the tutorial and did not find it. But now I think I know what you mean: A copied browser address line of the Viewer/Editor it is not useful as a link somewhere else. So far, it is maintained to allow using the browser back and forward buttons.
1. We could add the import information to the browser address line all the time, but then we must take

[2020-11-15 20:46] koppor commented on #44
https://github.com/GfSE/SpecIF/blob/master/tutorials/06_Very-Simple-Model-FMC.md

![grafik](https://user-images.githubusercontent.com/1366654/99196203-30f17500-278b-11eb-92b3-25595063df39.png)

This is <http://specif.de/apps-alpha/view.html#import=../examples/06_Very-Simple-Model-FMC.specifz>

Redirects to https://specif.de/apps-alpha/view.html#view=doc;project=ACP-Very-Simple-Model-FMC;node=N-Dia

[2020-11-15 20:58] odungern commented on #44
Thanks for your opinion. In this case we cannot offer a satisfactory solution until there is a backend.

If you think that the basic approach is valid and you find it interesting, we would appreciate your contribution. Fork it and submit a pull request with a solution which is good in your eyes.

[2020-11-15 20:58] #44 closed, assigned to nobody

[2020-11-15 21:03] koppor commented on #44
The pleausre is on my side.

C4 is both a method and a notation. When someone reaches out to me, I just say that it helps to structure the modeling of FMC block diagrams.

Yes, I do.

TBH, I just search for a good way to model a FMC diagram. I tried ARCWAY Cockpit (of which I liked the connection to project management), the Enterprise Architect plugin (https://github.com/oalt/fmc4se/issues/2) and

[2020-11-15 21:19] odungern commented on #44
Then, you are one of the very few who know and apply the FMC. Welcome!

I have also used ARCWAY Cockpit for many years and sometime I still do. I have a server with 2 concurrent licenses ... and then I use the [ARCWAY-->SpecIF Exporter}(https://github.com/GfSE/ARCWAY-to-SpecIF-Exporter) to combine the result with others from other tools, e.g. BPMN from Camunda-Modeller and User-Stories from Excel.

[2020-11-15 21:39] odungern commented on #44
ReqIF has been made to exchange requirements in a neutral format. It is being used by quite many tools (IBM DOORS, PTC Integrity, :em ReqMan, just to mention a few), but as such they are just sending hierarchical lists of requirements ... with some relations between requirements. ReqIF can do more, it can also be used to transport semantic nets including SpecIF.

As already mentioned, ReqIF is jus

[2020-11-15 21:48] odungern commented on #44
So far, the [SpecIF Editor](https://specif.de/apps/edit) does not have a GUI to create and modify the types. So it is indeed needed to write (or copy from a template) a base specif-file with the types needed for the particular application. The content can be edited with a GUI ... except for graphical diagrams which need to be imported from modelling tools. By now, there are already some: ARCWAY Co

[2021-02-05 11:59] oalt opened #50 "Rework Diagram Interchange Specification and Documentation"
Rework and finalize the Diagram Interchange specification using SVG and metadata for SpecIF release 1.1

[2021-02-05 12:05] oalt opened #51 "Finalize model integration documentation for SpecIF 1.1"

[2021-02-05 12:08] oalt opened #52 "Provide Word/PDF specification document from Markdown"
Use Github actions to create a specification document automatically.

[2021-02-05 12:26] oalt commented on #52
Note: https://pandoc.org/

[2021-02-05 14:07] odungern commented on #40
@oalt @oeichmann : In v1.1 I would like to discontinue the xhtml dataType ... or at least mark 'deprecated'.

[2021-02-17 16:36] odungern commented on #39
Reconsidering the issue today, I would like to propose a simpler solution:
- Starting v1.1, all properties have a value list, called 'values', to avoid different cases.
- If 'multiple' is missing or false, the value list has 0..1 elements.
- If 'multiple' is true, the value list may have 0..n elements.
- In both cases it is recommended to omit the whole property, if there is no element in the valu

[2021-02-18 17:26] odungern opened #53 "Class title and description have only single-language value"
Today, the title of dataType, propertyClass, resourceClass and statementClass may have a single- or a multiple-language value. Therefore, a "select by title" operation is not straight forward.

@oalt proposes: Any title of dataType, propertyClass, resourceClass and statementClass can only be a string. The use of a vocabulary term is preferred.

[2021-02-18 17:32] odungern opened #54 "No native title and description for instances"
Today, a resource or statement instance may have redundant titles as native (top-level) attribute and as an element in the properties list. Similarly for descriptions.

@oalt proposes: Omit native title and description to omit potential redundancy. In future all properties including title and description must be specified as elements in the properties list.

[2021-03-04 15:33] odungern commented on #35
The above is much more relevant than the current clubs/clover. With respect to the logo I like a lot the incoming and outgoing path-ways to all directions. The SpecIF solution is sleak ... and so we should perhaps chose a sleak and less technical type face than Courier, in any case sans-serif. But this is a matter of taste.

For comparison the current logo:
![specif-logo-100](https://user-images.g

[2021-03-06 08:18] oalt commented on #35
Here is another proposal with a sans-serif font. The used fonts are _SegoeUI Semibold_ for 'SpecIF' and _SegoeUI_ for 'Specification Integration Facility'
![grafik](https://user-images.githubusercontent.com/10502268/110200156-cf9a0280-7e5c-11eb-8eb7-691aebbb0bee.png)

[2021-03-06 21:37] oalt opened #55 "Open questions about the schema"
When writing the documentation of the SpecIF-metamodel some questions came in my mind:

* What means the *type* attribute for the *Email* element?
* What means the *type* attribute for the *Rights* element?
* When the data type XHTML is no longer used, how is it expressed, that a string contains XHTML formatted text?

[2021-03-06 21:39] oalt opened #56 "Simple string type for File - title"
Replace the multi-language title type for the File element with a simple string. It makes no sense here to have multi-language values for a file name or a URL.

[2021-03-06 21:51] oalt opened #57 "Make a dcterms:title mandatory for each Resource"
Some vocabulary elements have currently no title defined:

* Comment
* Paragraph - The title can be used as marginal note

I would suggest to make the dcterms:title property mandatory for each Resource, so a tool can always use it as tree node name in a hierarchy view.

If no title is available in the source tool, a SpecIF adapter shall set a dummy title or an empty string.

[2021-03-06 22:15] oalt opened #58 "Include a section about semantic model integration using FMC"
We should include in the Concepts chapter of the specification a further section describing the approach of semantic model integration using the FMC elements as base.

[2021-03-06 22:19] oalt opened #59 "Rename the model integration resource type titles?"
After some discussions about the semantic model integration using the fundamental modeling elements 'Actor', 'State' and 'Event' some people are confused about mapping for example an object to a state etc.

Should we think about a more generic naming of the model integration resource classes?

For example:

* ActiveElement instead of Actor
* PassiveElement  instead of State

[2021-03-07 19:34] odungern commented on #58
.. absolutely agreed. It is on my todo-list quite at the top. Same as BPMN and very probably Archimate, This would give enough examples to show the power of model integration.

[2021-03-07 19:45] odungern commented on #59
... valid thought. I think however that the basic question does not depend on the naming. A UML-object is both active (has methods) and is passive (has attributes). A typical object however has methods working on local attributes ... and so an object is better characterised as a holder of information (=passive aspect=state) than a modifier of information (=active aspect). Have a look at the dimmer

[2021-03-10 11:18] odungern commented on #42
@oalt @oeichmann: Was haltet Ihr von schemastore.org?  Oder habt Ihr einen besseren Ort?

[2021-03-11 16:38] oalt commented on #57
Also make description mandatory when native title and description is removed?

[2021-03-16 23:44] odungern commented on #33
Starting with schema v1.1, propertyClasses have an optional attribute;
[code]

[2021-03-16 23:44] #33 closed, assigned to nobody

[2021-03-16 23:45] odungern commented on #34
done.

[2021-03-16 23:45] #34 closed, assigned to odungern

[2021-03-16 23:49] odungern commented on #39
With schema v1.1, properties have a value list for all dataTypes. These lists may have more than one items if the propertyClass or dataType has an attribute "multiple": true.
This solution, where even single values are provided in a list, has been chosen to avoid structure variants.

[2021-03-16 23:49] #39 closed, assigned to nobody

[2021-03-16 23:53] odungern commented on #53
Starting schema v1.1, titles and Descriptions of all types and files are simple strings. Native titles of instances, both resources and statements, have been eliminated, but property lists with at least a single title property are required. So far, the schema only requires a single property, but not it's content. Therefore, the constraint check must take care.

[2021-03-16 23:53] #53 closed, assigned to nobody

[2021-03-16 23:55] odungern commented on #56
done with schema v1.1 - this is a duplicate of #53

[2021-03-16 23:55] #56 closed, assigned to odungern

[2021-03-16 23:57] odungern commented on #54
done with schema v1.1. Resources and statements must have a property list with at least one entry with "title": "dcterms:title". This will be checked by the constraintChecker.

[2021-03-16 23:57] #54 closed, assigned to nobody

[2021-03-17 21:57] odungern commented on #40
The dataType "xhtml" has been removed from schema v1.1. Instead a text property may have an attribute with enumerated values "plain" or "xhtml". This allows to change the property's format without changing it's dataType. Another reason is, that "xhtml" is not an XML data-type either, which is therefore difficult to transform.

[2021-03-17 21:57] #40 closed, assigned to nobody

[2021-03-17 22:02] odungern commented on #57
Agreed for the title, but not description. The resources and statements don't have a native title attribute any more starting with schema v1.1. But they must have a property list with at least one element. The constraintChecker will take care to check whether there is always a property with "title": "dcterms:title".

[2021-03-17 22:03] odungern commented on #57
Open again, until the constraint checker has implemented it.

[2021-03-17 22:05] odungern commented on #59
@oalt : unless there is a strong endorsement from your side, I propose to turn down the idea.

[2021-03-17 22:27] odungern commented on #55
- type attribute in the email element: Idea was to specify "text/plain" or "text/html" as used by some e-mail applications. However this is not any more relevant, we have passed the 1990's. So the type attribute is dropped and then the e-mail can become a simple string with format "email".
- type in the rights element was misleading and has been dropped with schema v1.1, as well. Thanks for pointi

[2021-03-17 22:27] #55 closed, assigned to odungern

[2021-03-21 00:01] odungern commented on #41
fixed with ./v1.0/check.js

[2021-03-21 00:01] #41 closed, assigned to nobody

[2021-03-21 00:01] #59 closed, assigned to odungern

[2021-03-21 13:09] oalt commented on #42
Koennen wir gerne machen. Da muesste man die Schema-Referenz in den SpecIF-Dateien daran anpassen. Das coole ist, wenn unter der URL im JSON wirklich das Schema erreicht wird, bekommt man in Visual Studio z.B. direkte Editierunterstuetzung beim manuellen bearbeiten und Intellisense :-)

[2021-03-21 13:15] oalt commented on #59
As discussed: We do not change the model integration terms for the first SpecIF release.

[2021-03-21 13:18] odungern commented on #42
.. genau. Den anderen Ort halte ich bei, so dass bestehende Dateien weiter funktionieren, doch als "offizielle" Stelle halte ich schemastore.org für gut geeignet. Übernehme das ... habe schon einmal geschaut, wie das geht ... ist nicht besonders schwer per Github. Nicht so gut gefällt mir allerdings, dass sie die Version in den Namen integrieren ... ist aber letztlich egal.

[2021-03-22 20:56] odungern commented on #42
... done. Have a look at [schemastore.org](https://www.schemastore.org/json/). [SpecIF](https://json.schemastore.org/specif-1.0.json) is at the vey end - the next time I will put it in the correct alpha-numeric seqence.

[2021-03-22 20:56] #42 closed, assigned to odungern

[2021-03-22 21:17] odungern commented on #32
.. that fact is covered by the schema and besides the implemented one there is no further constraint I can think of, now.

[2021-03-22 21:17] #32 closed, assigned to nobody

[2021-04-05 19:58] oalt commented on #50
Specification reworked

[2021-04-05 19:58] #50 closed, assigned to oalt

[2021-04-05 19:59] oalt commented on #35
New logo discussed and provided in the repository https://github.com/GfSE/SpecIF/tree/master/logo

[2021-04-05 19:59] #35 closed, assigned to nobody

[2021-06-28 09:49] oalt opened #60 "Change constraint in schema 1.1"
Currently the schema defines, that a resource class shall define at least one property class reference. In the following case this leads to an error:

In that case an "Epic" element should be defined based on the "Requirement" element by inheritance. The properties are just the same and reused by inheritance. Only the title is changed:

<pre>
{
    "id": "RC-Epic",
    "title": "SCRUM:Epic",
    "

[2021-06-29 06:16] odungern commented on #60
The idea behind requiring at least one property per resource (and thus one propertyClass per resourceClass) was that a resource without payload does not make sense. We do not have any native title and description any more. (Just to commemorate).

Yours is a valid corner-case. I did not consider it, so far. An argument could be:
- If the properties are equal, is it indeed a different class?
- In ot

[2021-06-29 06:35] odungern commented on #60
Following the principle that systems shouldn't patronize the users without a really urgent need (for example, if malfunction or complexity is caused), there is an argument not to require a minimum number of properties.

However personally I would continue to consider user-stories and epics as requirements.

[2021-07-02 14:05] odungern commented on #60
Have removed from the schema the requirement to have >0 properties for resources and statements. Similarly, propertyClasses, subjectClasses and objectClasses have no more minimal item count.

Instead, the check will be made in the constraintCheck _including the items of any parent element_.

[2021-07-02 14:05] #60 closed, assigned to odungern

[2021-09-04 08:57] odungern commented on #57
The constraint checker now assures that
- a resource must have at least one property (there are no more native title and description attributes any more to avoid redundancy), so that there cannot be a resource without payload.
- There are examples of resources without title, for example simple paragraphs in a chapter. Therefore it is only required, that there is at least one property, but it mustn

[2021-09-04 09:00] odungern commented on #57
So the original request is not yet agreed and enforced. To my opinion we should not exclude the existence of resources without title. We could think of a warning, if a resource has neither title nor description property.

[2021-09-06 13:44] winf3 opened #61 "Figure 3 in section Concepts does not show in export File SpecIF_Specification_draft_170821.pdf"
Figure 3 in section Concepts does not show in export File SpecIF_Specification_draft_170821.pdf. It is present in the md file.

[2021-09-09 06:13] winf3 opened #62 "spellcheck of exported pdf"
I opened draft export Specif V1.1 in Word, ran the spellchecker and marked necessary changes which I found (see attached word file).
[SpecIF_Specification_draft_170821.docx](https://github.com/GfSE/SpecIF/files/7133885/SpecIF_Specification_draft_170821.docx)
 Have fun implementing !

[2021-09-09 06:33] odungern commented on #62
Thanks a lot for your effort, Winfried!  We'll take care of it!

[2021-10-05 12:00] odungern commented on #57
@oalt : Do you agree with the proposal, which is implemented in both schema and constraint checker for v1.1. Please close the issue, if you consent, in particular with the issue that resources without title property are allowed (they must have at least one property ..).

[2021-10-05 12:25] odungern commented on #61
Oliver, ich bin so frei ;-)

[2021-10-11 11:50] odungern opened #63 "Constraint Check: Apply value check to properties of type "xs:duration""
JSON Schema draft 2019-09 is needed and a new version of AJV.

[2021-10-31 14:10] odungern commented on #62
We have decided to use american-english spelling, so "analyze", "behavior" and "modeling" shall be used throughout ... but consistenty, which was not the case due to different authors collaborating.

[2021-11-08 21:58] oalt commented on #57
After discussion we support a title as property in the resources but have also a title in the node element for quick loading of the hierarchy tree.

[2021-11-08 21:58] #57 closed, assigned to odungern

[2021-11-08 21:59] oalt commented on #61
Fixed in final spec

[2021-11-08 21:59] #61 closed, assigned to oalt

[2021-11-08 21:59] oalt commented on #62
Completely corrected over the entire specification and class definitions

[2021-11-08 21:59] #62 closed, assigned to odungern

[2021-11-08 22:00] #58 closed, assigned to odungern

[2021-11-08 22:00] #51 closed, assigned to odungern

[2021-11-10 10:29] odungern commented on #63
moved to https://github.com/GfSE/SpecIF-Schema/issues/1.

[2021-11-10 10:29] #63 closed, assigned to odungern

[2021-11-10 10:33] odungern commented on #11
moved to: https://github.com/GfSE/SpecIF-Schema/issues/2

[2021-11-10 10:33] #11 closed, assigned to nobody

[2021-11-10 10:35] odungern commented on #22
moved to https://github.com/GfSE/SpecIF-Schema/issues/3

[2021-11-10 10:35] #22 closed, assigned to nobody

[2021-11-10 13:00] #52 closed, assigned to oalt

[2022-07-12 15:34] odungern opened #64 "Schema: Boolean dataTypes can have multiple values"
Boolean dataTypes cannot have enumerated values, because boolean is already enumerated. That's correctly represented in the SpecIF schema v1.1.

However properties with boolean dataType may have a list of multiple values, in other words a vector of values, like any property having another dataType. That's missing in the SpecIF schema v1.1; a dataType with type xs:boolean should have a native prope

[2022-07-12 15:48] odungern commented on #64
Moved to: https://github.com/GfSE/SpecIF-Schema/issues/5

[2022-07-12 15:48] #64 closed, assigned to nobody